/* Sidebar Layout */
.sidebar-admin {
  width: 256px;
  background-color: #ffffff;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* border-right: 1px solid #f1f5f9; */
  font-family: "Inter", sans-serif;
}

/* Brand Section */
.top-admin {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.top-admin__icon {
  width: 32px;
  height: 32px;
  background-color: #3b82f6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
}

.title-name {
  margin-left: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #0f172a;
}

.nav-admin {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-admin .nav-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Menu Item */
.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  color: #334155;
  text-decoration: none;
  font-size: 15px;
  border-radius: 8px;
  transition: all 0.2s;
}

.nav-item:hover {
  background-color: #f1f5f9;
  color: #1e293b;
}

/* Active Item */
.nav-item.active {
  background-color: #e0edff;
  color: #2563eb;
  font-weight: 600;
}

.nav-label {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #94a3b8;
  padding-left: 4px;
}

/* dropdown service */
.dropdown-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  color: #334155;
  font-size: 15px;
  border-radius: 8px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.dropdown-service:hover {
  background-color: #f1f5f9;
  color: #1e293b;
}

.dropdown-service.open {
  background-color: #e0edff;
  color: #2563eb;
  font-weight: 600;
}

.dropdown-icon {
  transition: transform 0.3s ease;
  font-size: 16px;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  margin-top: 4px;
}

.submenu-item {
  font-size: 14px;
  color: #334155;
  padding: 6px 0;
  text-decoration: none;
  transition: color 0.2s;
}

.submenu-item:hover {
  color: #1e40af;
}
